flows.json
[
    {
        "id": "50d7915a0093dada",
        "type": "tab",
        "label": "Sliders",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "inject_temperature_humidity",
        "type": "inject",
        "z": "50d7915a0093dada",
        "name": "Random Temp & Humidity",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 60,
        "wires": [
            [
                "generate_temp_humidity"
            ]
        ]
    },
    {
        "id": "generate_temp_humidity",
        "type": "function",
        "z": "50d7915a0093dada",
        "name": "Generate Random Temp & Humidity",
        "func": "msg.temperature = Math.floor(Math.random() * 15) + 20; // Random temperature between 20°C and 35°C\nmsg.humidity = Math.floor(Math.random() * 40) + 50; // Random humidity between 50% and 90%\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 180,
        "wires": [
            [
                "display_temperature",
                "display_humidity",
                "adjust_cooler_slider",
                "adjust_heater_slider",
                "adjust_humidifier_slider",
                "adjust_dehumidifier_slider"
            ]
        ]
    },
    {
        "id": "display_temperature",
        "type": "ui_gauge",
        "z": "50d7915a0093dada",
        "name": "Temperature",
        "group": "ca096a3641717984",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{msg.temperature}}",
        "min": 0,
        "max": 50,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 490,
        "y": 60,
        "wires": []
    },
    {
        "id": "display_humidity",
        "type": "ui_gauge",
        "z": "50d7915a0093dada",
        "name": "Humidity",
        "group": "ca096a3641717984",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{msg.humidity}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 480,
        "y": 100,
        "wires": []
    },
    {
        "id": "adjust_cooler_slider",
        "type": "function",
        "z": "50d7915a0093dada",
        "name": "Adjust Cooler Slider",
        "func": "if (msg.temperature > 28) {\n    msg.payload = 10;\n} else if (msg.temperature < 23) {\n    msg.payload = 1;\n} else {\n    msg.payload = Math.floor((msg.temperature - 23) * 2) + 1;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 160,
        "wires": [
            [
                "cooler_slider"
            ]
        ]
    },
    {
        "id": "cooler_slider",
        "type": "ui_slider",
        "z": "50d7915a0093dada",
        "name": "Cooler Frequency",
        "label": "Cooler",
        "tooltip": "",
        "group": "ca096a3641717984",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "topicType": "str",
        "min": 1,
        "max": 10,
        "step": 1,
        "x": 810,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "adjust_heater_slider",
        "type": "function",
        "z": "50d7915a0093dada",
        "name": "Adjust Heater Slider",
        "func": "if (msg.temperature < 23) {\n    msg.payload = 10;\n} else if (msg.temperature > 28) {\n    msg.payload = 1;\n} else {\n    msg.payload = Math.floor((28 - msg.temperature) * 2) + 1;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 220,
        "wires": [
            [
                "heater_slider"
            ]
        ]
    },
    {
        "id": "heater_slider",
        "type": "ui_slider",
        "z": "50d7915a0093dada",
        "name": "Heater Frequency",
        "label": "Heater",
        "tooltip": "",
        "group": "ca096a3641717984",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "topicType": "str",
        "min": 1,
        "max": 10,
        "step": 1,
        "x": 810,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "adjust_humidifier_slider",
        "type": "function",
        "z": "50d7915a0093dada",
        "name": "Adjust Humidifier Slider",
        "func": "if (msg.humidity < 65) {\n    msg.payload = 10;\n} else if (msg.humidity > 85) {\n    msg.payload = 1;\n} else {\n    msg.payload = Math.floor((85 - msg.humidity) / 2) + 1;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 280,
        "wires": [
            [
                "humidifier_slider"
            ]
        ]
    },
    {
        "id": "humidifier_slider",
        "type": "ui_slider",
        "z": "50d7915a0093dada",
        "name": "Humidifier Frequency",
        "label": "Humidifier",
        "tooltip": "",
        "group": "ca096a3641717984",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "topicType": "str",
        "min": 1,
        "max": 10,
        "step": 1,
        "x": 820,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "adjust_dehumidifier_slider",
        "type": "function",
        "z": "50d7915a0093dada",
        "name": "Adjust Dehumidifier Slider",
        "func": "if (msg.humidity > 85) {\n    msg.payload = 10;\n} else if (msg.humidity < 65) {\n    msg.payload = 1;\n} else {\n    msg.payload = Math.floor((msg.humidity - 65) / 2) + 1;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 340,
        "wires": [
            [
                "dehumidifier_slider"
            ]
        ]
    },
    {
        "id": "dehumidifier_slider",
        "type": "ui_slider",
        "z": "50d7915a0093dada",
        "name": "Dehumidifier Frequency",
        "label": "Dehumidifier",
        "tooltip": "",
        "group": "ca096a3641717984",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "topicType": "str",
        "min": 1,
        "max": 10,
        "step": 1,
        "x": 830,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "cooler_switch",
        "type": "ui_switch",
        "z": "50d7915a0093dada",
        "name": "Cooler Switch",
        "label": "Cooler",
        "tooltip": "",
        "group": "ca096a3641717984",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 800,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "heater_switch",
        "type": "ui_switch",
        "z": "50d7915a0093dada",
        "name": "Heater Switch",
        "label": "Heater",
        "tooltip": "",
        "group": "ca096a3641717984",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 800,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "humidifier_switch",
        "type": "ui_switch",
        "z": "50d7915a0093dada",
        "name": "Humidifier Switch",
        "label": "Humidifier",
        "tooltip": "",
        "group": "ca096a3641717984",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 810,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "dehumidifier_switch",
        "type": "ui_switch",
        "z": "50d7915a0093dada",
        "name": "Dehumidifier Switch",
        "label": "Dehumidifier",
        "tooltip": "",
        "group": "ca096a3641717984",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 820,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "c1303222278fcebe",
        "type": "remote-access",
        "z": "50d7915a0093dada",
        "confignode": "5948611a71bb45c7",
        "name": "",
        "verbose": 0,
        "x": 120,
        "y": 280,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ca096a3641717984",
        "type": "ui_group",
        "name": "Auto sliding",
        "tab": "98dc7253b08f519f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5948611a71bb45c7",
        "type": "remote-config",
        "name": "Sericulture Auto Control",
        "host": "localhost",
        "protocol": "http",
        "port": "1880",
        "baseurl": "/ui",
        "instancehash": "l7y1yz37z7zkksqfg5d49ixws5spcefz0mefdyoqcelw631hm530o3qb9ikma62g",
        "server": "nodered02.remote-red.com",
        "region": "de"
    },
    {
        "id": "98dc7253b08f519f",
        "type": "ui_tab",
        "name": "Auto control",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]